<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="/post/{{post.id}}">{{post.title}}</a>
            </div>
            <div class="content">{{post.content}}</div>
            <div class="meta">
                Posted by {{post.user.username}} on
                {{post.created_at}}
            </div>
        </article>
        <article>
            <div class="comment">{{post.comment}}</div>
        </article>
    </li>
    {{/each}}
</ol>